:root{
  --day-background-color: #FFFFFF;
  --day-font-color: #FFFFFF;
  --night-background-color: #22252D;
  --day-keypad-backgound: #F2F3F7;
  --night-keypad-backgound: #2A2D37;
  --font-color: #333333;
  font-size: 10px;
}


body{
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.phone__layout{
  width: 390px;
  height: 744px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 6px solid #4F8AF8;
  border-radius: 30px;
  background: #FFFFFF;
}

.phone__status{
  width: 100%;
  height: 5%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}

.phone__status__container{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0 15px 0 30px;
  margin: 0;
  box-sizing: border-box;
  background: transparent;
}

.phone__status__time{
  width: 12%;
  height: 20px;
  text-align: center;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: var(--font-color);
  margin: 0;
  box-sizing: border-box;
}

.speaker{
  width: 68%;
  height: 100%;
  background: #000000;
  border: 1px solid #000000;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-sizing: border-box;
}

.phone__status__icons{
  width: 18%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2px;
  box-sizing: border-box;
}

.screen__container{
  width: 100%;
  height: 35%;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
}

.screen__icons{
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 15px;
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.menu{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  width: 40%;
  height: 100%;
}

.menu__toggle{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: var(--font-color);
}

.cal__logo{
  font-size: 2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.history-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-screen__container{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  width: 100%;
  height: 50%;
}

.display-screen{
  width: 100%;
  height: 100%;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 15px;
  padding-bottom: 20px;
}

.display-screen__input{
  text-align: right;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 4rem;
  font-weight: 400;
  color: var(--font-color);
  border: none;
  background: transparent;
}

.display-screen__result{
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

.keypad{
  width: 100%;
  height: 60%;
  margin: 0;
  padding: 30px 15px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: var(--day-keypad-backgound);
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.buttons-grid-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    justify-content: space-between;
    color: var(--font-color);
    background: transparent;
}

.button{
    height: 60px;
    border: none;
    border-radius: 43%;
    background: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
}

.operation{
    color: #4E8AF8;
}

.big{
    font-size: 3.5rem;
}

.equal{
    background: #4E8AF8;
    color: #FFFFFF;
}

.bottom-bar{
  border: 1px solid #000000;
  background: #000000;
  width: 40%;
  height: 5px;
  border-radius: 30px;
  position: absolute;
  bottom: 10px;
  /* margin: 20px; */
}